.country {
    display: flexbox;
    position: relative;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 300px;
    border: 1px solid #666;
    height: auto;
    border-radius: 20px;
    transition: box-shadow .5s ease-in-out, transform .4s ease-in-out;

    &:hover {
        box-shadow: 0 14px 30px rgba(0, 0, 0, 0.05);
        border: 2px solid #444;
        transform: scale(1.05);
        cursor: pointer;
    }

    .country_name_text {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        font-size: 1rem;
        font-weight: 600;
        color: #ffffff;
        border-radius: 0 0 20px 20px;

    }

    .image {
        display: flex;
        border-radius: 20px 20px 0 0;
        width: 100%;
        height: 50%; 
    }
}